@import "../../../variables";

.nojs .btn-group {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.dropdown-item span {
  margin-right: 3px;
}
