@import "../../../variables";

.notification.alert {
  position: fixed;
  top: 0;
  z-index: 9999;

  width: 100%;

  padding-bottom: 0;

  border: 0;
  border-bottom: $border-width;
  border-radius: 0;

  margin: 0;
}
