@import "../../../variables";

.password-strength {
  height: 3px;

  margin: 3px;

  &.strength-0 {
    background: linear-gradient(
      to right,
      $password-strength-level-0 0%,
      $password-strength-transparent 25%,
      $password-strength-transparent 50%,
      $password-strength-transparent 75%,
      $password-strength-transparent 100%
    );
  }

  &.strength-1 {
    background: linear-gradient(
      to right,
      $password-strength-level-1 0%,
      $password-strength-level-1 25%,
      $password-strength-transparent 50%,
      $password-strength-transparent 75%,
      $password-strength-transparent 100%
    );
  }

  &.strength-2 {
    background: linear-gradient(
      to right,
      $password-strength-level-2 0%,
      $password-strength-level-2 25%,
      $password-strength-level-2 50%,
      $password-strength-transparent 75%,
      $password-strength-transparent 100%
    );
  }

  &.strength-3 {
    background: linear-gradient(
      to right,
      $password-strength-level-3 0%,
      $password-strength-level-3 25%,
      $password-strength-level-3 50%,
      $password-strength-level-3 75%,
      $password-strength-transparent 100%
    );
  }

  &.strength-4 {
    background: linear-gradient(
      to right,
      $password-strength-level-4 0%,
      $password-strength-level-4 25%,
      $password-strength-level-4 50%,
      $password-strength-level-4 75%,
      $password-strength-level-4 100%
    );
  }
}
