@import "../../../variables";

.panel + .panel {
  padding-top: $spacer;

  border-top: 1px solid theme-color("light");
}

.panel {
  margin-bottom: $spacer;
}

.tab-content {
  padding-top: $spacer;

  > .tab-pane {
    padding-top: 0;

    border-top: 0;
  }
}
