@import "../../../variables";

.quick-search-field + .quick-search-field {
  .quicksearch-input {
    border-radius: 0;
  }
}

.quicksearch-input {
  min-width: 200px;

  border-color: $input-border-color;
}
